body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

img {
    margin-top: 10px;
    height: 400px;
    width: auto;
}

button {
    background-color: black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px auto;
    width: 100px;
    font-size: 15px;
}
.home {
    text-align: center;
    background-color: gray;
    margin: 10px auto;
    padding: 20px;
    width: 800px;
}

.ingredients-title, .steps-title{
    color: white;
    background-color: black;
    padding: 8px;
    margin: 30px auto;
    width: 700px;
}

li {
    width: 600px;
    margin: 6px auto; 
    padding: 5px;
}

ol {
    font-size: 15px;
    margin: 5px;
}